.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{display:inline-block;vertical-align:middle}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{background-color:transparent;border:3px solid;color:#69727d}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-block-start:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{height:1em;width:1em}.elementor-widget-text-editor .elementor-drop-cap{float:inline-start;font-size:50px;line-height:1;text-align:center}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}@media (max-width: 479.98px) { .single-blog-style1 > .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7675 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7677 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7621 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7636 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7628 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7649 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7615 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7647 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7643 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7663 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7667 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
}
}