@media (max-width: 479.98px) { .single-blog-style1 > .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7675 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7677 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7621 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7636 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7628 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7649 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7615 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7647 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7643 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7663 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
} #post-7667 .text-holder {
padding-right: 0 !important;
padding-left: 0 !important;
}
}